<div id="overlay" class="container">
  <div id="ar-instructions">
    <img src="./assets/logo.png" alt="Logo King Basket" style="width: 100px; margin-bottom: 1em" />
    <p id="text">Overlay : false</p>

    <section class="overlay-content">
      <p>Tape sur l'écran pour placer le panier</p>
      <p>Puis lance la balle pour marquer !</p>
    </section>

    <section class="overlay-content">
      <p id="instructions">Place le panier contre un mur</p>
    </section>

    <div style="display: flex; justify-content: space-between; align-self: stretch;">
      <button id="go-button">Prêt à jouer !</button>
      <button id="exit-button">Quitter l'AR</button>
    </div>
  </div>

  <div id="inline-instructions">
    <img src="./assets/logo.png" alt="Logo King Basket" style="width: 100px; margin-bottom: 1em" />
    <section class="overlay-content">
      <p>Active la VR pour commencer à jouer</p>
    </section>
  </div>
</div>
