<a-scene
  webxr="optionalFeatures: hit-test, dom-overlay; overlayElement:#overlay;"
  physics="debug: false"
>
  <!-- Ball -->
  <a-sphere
    id="ball"
    dynamic-body
    radius="0.1"
    color="orange"
    position="0.1 2.36 -1.5"
  ></a-sphere>

  <!-- Hoop -->
  <a-entity id="hoop" rotation="90 0 0" position="0 2 -1.8" hide-in-ar-mode>
    <a-torus
      position="0 0.173 -0.1"
      color="#ffe5ae"
      radius="0.25"
      radius-tubular="0.005"
      scale="0.6 0.6 0.6"
    ></a-torus>
    <a-torus
      visible="false"
      static-body="shape: mesh;"
      position="0 0.173 -0.1"
      radius="0.27"
      radius-tubular="0.02"
      geometry="radius: 0.29; segmentsRadial: 5; segmentsTubular: 12"
      scale="0.6 0.6 0.6"
    ></a-torus>
    <a-plane
      src="./assets/backboard.png"
      static-body
      rotation="-90 0 0"
      position="0 0 -0.3"
      width="0.9"
      height="0.9"
      material="transparent: true; side: double;"
      scale="0.6 0.6 0.6"
    ></a-plane>
    <a-cone
      position="0 0.173 -0.010"
      rotation="90 0 0"
      radius-bottom="0.25"
      radius-top="0.3"
      material="side: double; opacity:0.4; transparent: true;"
      geometry="height: 0.29; openEnded: true"
      color="white"
      scale="0.6 0.6 0.6"
    ></a-cone>
  </a-entity>

  <a-plane rotation="-90 0 0" width="20" height="20" color="#ffe5ae" static-body hide-in-ar-mode></a-plane>
  <a-sky color="skyblue" hide-in-ar-mode></a-sky>

  <a-camera>
    <a-entity
      id="text"
      text="value:; align: left; width: 0.1;"
      position="0 0 -0.17;"
      visible="false"
    ></a-entity>
  </a-camera>
</a-scene>
